<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/accounts.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils.js}"></script>
    <script type="text/javascript" th:src="@{/js/logout.js}"></script>

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" id="list" placeholder="Search">
        <input class="btn btn-outline-success my-2 my-sm-0" id="search" type="button" value="Поиск"/>
        <button type="button" onclick="window.location.href='/'" class="btn btn-outline-success">Заявки</button>
        <button type="button" onclick="openFormCreateRepair()" class="btn btn-outline-success">Отправить заявку на ремонт</button>
        <button type="button" onclick="window.location.href='/clients'"  class="btn btn-outline-success">Клиенты</button>
        <button type="button" onclick="openFormCreateClient()"  class="btn btn-outline-success">Добавить клиента</button>
        <button type="button" onclick="window.location.href='/accounts'"  class="btn btn-outline-success">Пользователи</button>
        <button type="button" onclick="openFormCreateAccount()"  class="btn btn-outline-success">Добавить пользователя</button>
    </form>
    <div class="d-flex ml-2">
            <input class="btn btn-danger" onclick="exit()" type="submit" value="Выход"/>
    </div>
</nav>


<table class="table table-hover">
    Пользователи
    <thead>
    <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Активная учетная запись</th>
    </tr>
    </thead>
    <tbody id="show">
    </tbody>
</table>

</body>
</html>